{% extends 'base.html' %}

{% block title %} Add Note {% endblock %}

{% block content %}

<form id="add-note-form" action="/users/{{user.username}}/notes/add" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit">Add Note</button>
</form>

<form action="/users/{{user.username}}">
  <button type="submit" class="btn btn-primary">Cancel</button>
</form>


{% endblock %}
