{% extends 'base.html' %}

{% block title %} Note {% endblock %}

{% block content %}

<form id="update-note-form" action="/notes/{{note.id}}/update" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit" class="btn btn-success">Update Note</button>
  <a href="/users/{{note.owner}}" class="btn btn-outline-primary">Cancel</a>
</form>

<form action="/notes/{{note.id}}/delete" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-danger">Delete Note</button>
</form>


{% endblock %}